@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

.enduserselectpage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.enduserselectpage button {
  height: 10vh;
  width: 20vw;
}

.card {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
  background-color: transparent;
  gap: 20px;
  align-items: center;
  padding: 2%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  object-fit: scale-down;
}

.card img {
  height: 40vh;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 20vw;
  background-color: lightgray;
  flex-direction: column;
  justify-content: space-around;
}

.dashnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  width: 80vw;
  height: 20vh;
  position: absolute;
  left: 20vw;
  top: 0;
  background-color: gainsboro;
}

.dashnavbar button{
  height: 10vh;
}

.dashmain {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 80vh;
  width: 80vw;
  position: absolute;
  left: 20vw;
  top: 20vh;
}

.googleauth {
  display: flex;
  align-items: center;
  font-family: "Roboto Thin", sans-serif;
  font-size: x-large;
  background-color: white;
  border: 1px solid lightgrey;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
}

.googleauth::before {
  content: "";
  display: flex;
  height: 50px;
  width: 50px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  left: -2%;
  bottom: 0;
}

.loaderpage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: darkblue;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.container.pricing-container{
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;

}

.container.pricing-container .card-header h4{
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
   /* max-width: 960px;  */

   grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;

}

.pricing-header {
  max-width: 700px;
}

.standard-Card{
  position: relative;
  right: 10px;
}

.card-text{
  color: black;
}

/* .standard{
  color: #0275d8;
} */

.premium{
  color: #d9534f;
}

.basic-card{
  max-width: 300px;
  width: 100%;
}

.pricings h1{
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  position: relative;
  bottom: 20px;
}

.credit{
  font-size: 30px;
}

.container.checkout-container{
  padding: 50px;
  color: black;
  margin-top:30px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 5px 2px 10px #cfcdcc;
}

.credit-card{
  padding: 30px;
}

.mediaCard{
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
  background-color: #d9534f;
}

#hackcard{
  height: max-content;
}

.sidebar button{
  width: 200px
}

.hostform{
  display: none;
  height: max-content;
  width: max-content;
}

#gridstyle{
  margin: 50px;
}

#gridcont{
  width: 100%;
}

.gridlele{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;

}

.hackathoncards{
  padding: 2%;
  display: flex;
  width: 100%;
  height: max-content;
  background-color: transparent;
  border: 1px solid lightgrey;
  font-family: "Helvetica Neue",sans-serif;
}

.hackathoncards img{
  height: 150px;
}
.lastdivcard{
  display: flex;
  flex-direction: column;
  font-size: x-large;
  width: 25%;
  justify-content: space-evenly;
  padding: 2%;
}

#joinbtn{
  width: 50%;
  align-items: center;
}

.sponsors{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}